div.gallery {
  margin: 0px;
  border: 10px solid hsla(36, 55%, 60%, 0);
  float: left;
  width: 25%;
}
div.gallery:hover {
  border: 0px solid hsla(36, 55%, 60%, 0);
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 4px;
  text-align: center;
  font-size: larger;

  border-bottom: 0.5px solid hsl(61, 36%, 54%);
  border-top: 0.5px solid hsl(61, 36%, 54%);
  border-right: 0.5px solid hsl(61, 36%, 54%);
  border-left: 0.5px solid hsl(61, 36%, 54%);
}

.divContent{ 
  background-color:hsla(36, 45%, 90%, 0.9);
}



