* {
    box-sizing: border-box;
  }

body  {

 background-size: 100vw;
 font-family: 'Source Sans Pro';
 font-weight: 300;
 background-color:  hsla(36, 45%, 90%, 1);
 overflow: scroll;
 }

.flagsDiv{
	width: 28px;
	height: auto;
	margin: 0px;
	padding: 2px;
	float: right;
}
.flags{
	float: centre;
	width: 25px;
	height: auto;
	margin: 0px;
	padding: 0px;
} 

.flags:hover{
	width: 27px;
	height: auto;
	box-shadow: 2px 2px 5px hsla(200, 30%, 40%, 1);
}
.ulStyle {
font-family: 'Source Sans Pro';
color: black;
width: 100%; 
background-color:hsla(36, 45%, 90%, 1);
}

ul {
  color: black;
	width: 100%;	
	list-style-type: none;
  margin-right: 300px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
	overflow: hidden;
  }
  
  li {
    color: black;
	  float: right;
    font-size: 22px;

  }
  
  li a {
    color: black;
	display: block;
	text-align: center;
	padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid hsla(36, 45%, 90%, 1);
  }
  
  li a:hover {
    color: black;
    border-bottom: 0.5px solid black;
  }

  .title{
    text-shadow: 0 0 17px hsla(36, 55%, 60%, 0.6), 0 0 10px black;
    text-align: center;
  }

  .leftDiv{
    float: left;
    width: 30%;
  }
  
  .rightDiv{
    float: right;
    width: 70%;
  }
  .rama{
    margin-left: 8vw;
    margin-right: 8vw;
    }
  
/*
hsla(50, 56%, 51%, 1) zielony jak w tle
hsla(85, 40%, 40%, 1)  ciemny zielony
hsla(5, 66%, 64%, 1) usta 
hsla(36, 55%, 60%, 1)  zolty pasek ble
hsla(36, 45%, 90%, 1) jasne tlo

*/