* {
  box-sizing: border-box;
}

/* Style the header  DOCUMENTSSSSSSSS*/
header {
  background-color: hsl(97, 12%, 23%);
  margin-bottom: 10px;
  padding: 2px;
  width: 100%;
  text-align: center;

  color:  hsla(36, 45%, 90%, 0.9);
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; 
  background: hsla(36, 45%, 90%, 0.9);
  padding-top: 10px;
  font-family: 'Source Sans Pro';
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}


article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: hsl(61, 36%, 54%);
  font-family: 'Source Sans Pro'; 
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.buttonList {
	background-color: none;
	font-size: 17px;
	font-family: 'Source Sans Pro';
  margin: 0px;
  margin-bottom: 10px;
  text-align: left;
  background-color: hsla(36, 45%, 90%, 0.9);
  border: groove;
  border-color: hsla(36, 45%, 95%, 1);

}
.buttonList:hover{
  background-color: hsla(36, 45%, 95%, 0.9);
  border: groove;
  border-color: hsla(36, 45%, 95%, 0.9);

}

