* {
  box-sizing: border-box;
}

.buttonList {
	border: none;
	background-color: hsla(36, 67%, 90%, 1);
	font-size: 17px;
	font-family: 'Source Sans Pro';
	margin: 5px;
	text-align: left;

}
.buttonList:hover{
	background-color: hsla(36, 55%, 60%, 0.6);

}

.rama{
margin-left: 10vw;
margin-right: 10vw;
height: 90vw;
}

