* {
    box-sizing: border-box;
  }

body  {

 /*background-image: url('../photos/backG2mobi.jpg'); 
 background-repeat: no-repeat;
 background-attachment: fixed;
 */
 background-size: 100vw;
 font-family: 'Source Sans Pro';
 font-weight: 300;
 background-color:  hsla(36, 67%, 90%, 1);
 }

@media only screen and (orientation: landscape) {
    body {
       
    }
}

.flagsDiv{
	width: 28px;
	height: auto;
	margin: 0px;
	padding: 2px;
	float: right;
}
.flags{
	float: centre;
	width: 25px;
	height: auto;
	margin: 0px;
	padding: 0px;
} 

.flags:hover{
	width: 27px;
	height: auto;
	box-shadow: 2px 2px 5px hsla(200, 30%, 40%, 1);
}
.ulStyle {
font-family: 'Source Sans Pro';
color: black;
width: 100%; 
background-color:hsla(36, 67%, 90%, 1);
}

ul {
	width: 100%;	
	list-style-type: none;
	margin: 0;
	padding: 5;
	overflow: hidden;
  }
  
  li {
	float: right;
    font-size: 17px;

  }
  
  li a {
	display: block;
	text-align: center;
	padding: 5px;
	text-decoration: none;
  }
  
  li a:hover {

  text-decoration: underline;
  }

  .title{
    text-shadow: 0 0 17px hsla(36, 55%, 60%, 0.6), 0 0 10px black;
    text-align: center;
  }

  .leftDiv{
    float: left;
    width: 30%;
  }
  
  .rightDiv{
    float: right;
    width: 70%;
  }
  
/*
hsla(50, 56%, 51%, 1) zielony jak w tle
hsla(85, 40%, 40%, 1)  ciemny zielony
hsla(5, 66%, 64%, 1) usta 
hsla(36, 55%, 60%, 1)  zolty pasek ble
hsla(36, 67%, 90%, 1) jasne tlo

*/