div.gallery {
  margin: 0px;
  border: 10px solid hsla(36, 55%, 60%, 0);
  float: left;
  width: 25%;
}
div.gallery:hover {
  border: 0px solid hsla(36, 55%, 60%, 0);
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 5px;
  text-align: center;
  font-size: 3vw;
  background-color:hsla(5, 66%, 64%, 0.65);
}

body{
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

.divContent{ 
  background-color:hsla(36, 67%, 90%, 0.9);
}



